@import '../../../../styles/base/global';

.container {
    // padding-top: 1.5rem;
    // padding-bottom: 3rem;


    .see_all_button {
        width: 100%;
        max-width: 22rem;
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $ButtonGrey;
    }
}