@import '../../../../styles/base/global';


.container {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;



    .message_container {
        padding: 0.5rem 1.25rem;
        border-radius: 2.25rem;
    }

    .message_info_container {
        width: 85%;
        border-radius: 0.75rem;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .download_container {
        width: 100%;
        height: 2.75rem;
        border-radius: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.9;
    }

    .round_image {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 1.75rem;
    }

    .bottom_button_container {
        position: fixed;
        width: 100%;
        height: 8.75rem;
        //  background: linear-gradient(0deg, #0C0C0D 38.26%, rgba(12, 12, 13, 0.9) 63.03%, rgba(12, 12, 13, 0.6) 80.72%, rgba(12, 12, 13, 0) 98.07%);
        bottom: 0;
        z-index: 1;
        padding: 0 1rem;
        max-width: 37.5rem;
        left: 50%;
        transform: translateX(-50%);
        @include row-center;
    }

    .mt-180 {
        margin-top: 11rem;
    }
}

.color_border {
    background: $MessageBackground;
    border: 1px solid $MessageBorder;
}