@import '../../../styles/base/global';

.rightshadows{
    right:0;
    top: 0;
    opacity:.80;
    z-index:0;
    width:auto;
    position: absolute;
    height:"fit-content";
}
.leftshadow{
    left:0;
    top: 0;
    opacity:.65;
    z-index:0;
    width:auto;
    position: absolute;
    height:"fit-content";
}