* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    background: #0C0C0D;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;

    &::-webkit-scrollbar {
        display: none !important;
    }
}