@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
        font-family: 'Nexa-BlackItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-BlackItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }
      @font-face {
        font-family: 'Nexa-Bold';
        src:url('../Nexa\ Complete\ Family/Nexa-Bold.otf') format("opentype");
        font-weight: normal;
        font-style: bold;
      }
      @font-face {
        font-family: 'Nexa-Black';
        src:url('../Nexa\ Complete\ Family/Nexa-Black.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-BoldItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-BoldItalic.otf') format("opentype");
        font-weight: normal;
        font-style: bold;
      }@font-face {
        font-family: 'Nexa-Book';
        src:url('../Nexa\ Complete\ Family/Nexa-Book.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-BookItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-BookItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-ExtraBold';
        src:url('../Nexa\ Complete\ Family/Nexa-ExtraBold.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-ExtraBoldItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-ExtraBoldItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-ExtraLight';
        src:url('../Nexa\ Complete\ Family/Nexa-ExtraLight.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-ExtraLightItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-ExtraLightItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-Heavy';
        src:url('../Nexa\ Complete\ Family/Nexa-Heavy.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-HeavyItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-HeavyItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-Light';
        src:url('../Nexa\ Complete\ Family/Nexa-Light.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-LightItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-LightItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-Regular';
        src:url('../Nexa\ Complete\ Family/Nexa-Regular.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-RegularItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-RegularItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextBlack';
        src:url('../Nexa\ Complete\ Family/Nexa-TextBlack.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextBlackItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextBlackItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextBold';
        src:url('../Nexa\ Complete\ Family/Nexa-TextBold.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextBoldItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextBoldItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextBook';
        src:url('../Nexa\ Complete\ Family/Nexa-TextBook.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextExtraBold';
        src:url('../Nexa\ Complete\ Family/Nexa-TextExtraBold.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextExtraBoldItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextExtraBoldItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextExtraLight';
        src:url('../Nexa\ Complete\ Family/Nexa-TextExtraLight.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextHeavy';
        src:url('../Nexa\ Complete\ Family/Nexa-TextHeavy.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextHeavyItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextHeavyItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextLight';
        src:url('../Nexa\ Complete\ Family/Nexa-TextLight.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextLightItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextLightItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextRegular';
        src:url('../Nexa\ Complete\ Family/Nexa-TextRegular.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextRegularItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextRegularItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextThin';
        src:url('../Nexa\ Complete\ Family/Nexa-TextThin.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-TextThinItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-TextThinItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-Thin';
        src:url('../Nexa\ Complete\ Family/Nexa-Thin.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      }@font-face {
        font-family: 'Nexa-ThinItalic';
        src:url('../Nexa\ Complete\ Family/Nexa-ThinItalic.otf') format("opentype");
        font-weight: "normal";
        font-style: "normal";
      } */
}

.App {
  background: #0C0C0D;
  height: auto;
  display: flex;
  align-items: center;



}