@import '../../../../styles/base/global';

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 2.5rem;


    .subContainer {
        width: 50%;
        padding-bottom: 0.875rem;
        padding-top: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .border_bottom_blue {
        border-bottom: 1px solid $Blue2 !important;
        border-radius: 2px;
    }
}