@import '../../styles/index.scss';

.container {
    flex: 1;
    display: flex !important;
    flex-direction: column;
    padding-bottom: 16.25rem;
    position: relative;
    align-items: center;
    overflow: hidden;

    .center {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .button_container {
        min-width: 19.5rem;
        font-family: "Nexa-Bold" !important;
    }
}
