@import '../../../../../styles/base/global';

.animate_container{
    height: 1030px; 
    overflow-y: hidden;
}
.scroll_container_new{
    display: flex;
    margin-left: 10px;
    margin-top: 40px;
}

.col_4{
    flex-basis: 33.33%;
    max-width: 33.33%;
}

//animation

.marquee1 {
    animation: 150s infinite upward;
}
.marquee2 {
    animation: 150s infinite downward;
}
.marquee3 {
    animation: 180s infinite upward;
}
@keyframes upward {
    0% {
    transform: translateY(0);
}
100% {
    transform: translateY(calc(-140px *6));
}
}@keyframes downward {
    0% {
    transform: translateY(calc(-140px *6));
}
100% {
    transform: translateY(0);
}
}

//resonsive media queries

@media all and (min-width:768px){
    .desktopreviews{
        margin-bottom: 6px;
        transform: scale(0.9);
        margin-left: -10px;
    }
    .col_4{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .marquee2{
        display: none;
    }
}
@media all and (min-width:820px){
    .desktopreviews{
        margin-bottom: 20px;
        transform: scale(0.95);
        margin-left: -3px;
    }
    .col_4{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .marquee2{
        display: none;
    }
}
@media all and (min-width:870px){
    .desktopreviews{
        margin-bottom: 35px;
        transform: scale(1);
        margin-left: 6px;
    }
    .col_4{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .marquee2{
        display: none;
    }
}

@media all and (min-width:950px){

    .scroll_container_new{
        transform: scale(0.83);
        margin-left: -105px;
    }
    .desktopreviews{
        margin-bottom: 5px;
        transform: scale(0.9);
        margin-left: 6px;
    }
    .col_4{
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    
    .marquee2{
        display: block;
    }
}

@media all and (min-width:1200px){
    .scroll_container_new{
        transform: scale(0.85);
        margin-left: -105px;
    }
    .desktopreviews{
        margin-bottom: 5px;
        transform: scale(0.9);
        margin-left: 6px;
    }
    .col_4{
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    
    .marquee2{
        display: block;
    }
}
@media all and (min-width:1280px){
    .scroll_container_new{
        transform: scale(0.88);
        margin-left: -55px;
    }
    .desktopreviews{
        margin-bottom: 5px;
        transform: scale(0.92);
        margin-left: 6px;
    }
    .col_4{
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .marquee2{
        display: block;
    }
}
@media all and (min-width:1300px){

}
@media all and (min-width:1440px){
    .scroll_container_new{
        transform: scale(0.95);
        margin-left: -35px;
    }
    .desktopreviews{
        margin-bottom: 35px;
        transform: scale(1);
        margin-left: 6px;
    }
    .col_4{
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

}
@media all and (min-width:1500px){

}
@media all and (min-width:1530px){
    .desktopreviews{
        margin-bottom: 35px;
        transform: scaleX(1.03);
    }
    .scroll_container_new{
        transform: scale(0.95);
        margin-left: -6px;
    }
    .col_4{
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
}
@media all and (min-width:1669px){
    .scroll_container_new{
        transform: scale(1);
        margin-left: 5px;
    }
    .desktopreviews{
        margin-bottom: 75px;
        transform: scale(1.1);
        margin-left: 50px;
    }
}
@media all and (min-width:1889px){
    .scroll_container_new{
        transform: scale(1);
        margin-left: 5px;
    }
    .desktopreviews{
        margin-bottom: 132px;
        transform: scale(1.27);
        margin-left: 50px;
    }
}
@media all and (min-width:1920px){

}
@media all and (min-width:2000px){
    .scroll_container_new{
        transform: scale(1);
        margin-left: 5px;
    }
    .desktopreviews{
        margin-bottom: 156px;
        transform: scale(1.34);
        margin-left: 70px;
    }
}