@import '../../../../styles/base/global';

.container {
    background-color: $CardBackground;
    width: 100%;
    padding: 0.875rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;

    .image_container {
        display: flex;
        align-items: center;
    }

    .left {
        margin-right: 1rem;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    .venue {
        height: 64px;
        width: 64px;
        border-radius: 2rem;

        @include for-small-phone-only {
            height: 54px;
            width: 54px;
            border-radius: 27px;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }

    .dot {
        height: 3.5px;
        width: 3.5px;
        border-radius: 1.75px;
        background-color: $Blue3;
        margin-left: 0.563rem;
        margin-right: 0.563rem;
    }

    .dottedline {
        border-bottom: 1px dashed $IconDarkBlue;
        box-sizing: border-box;
        border-top: none !important
    }

    .capsule {
        height: 1.813rem;
        width: fit-content;
        background: $Seperator;
        border-radius: 3.5rem;
        padding: 0.25rem 0.875rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .capsuletext {
        font-family: 'Nexa-TextRegular';
        font-size: 0.875rem;
        color: $White2;
        margin: 0;
    }
}