@import '../../../styles';

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading_spinner {
    width: 1.375rem;
    height: 1.375rem;
    border: 0.2rem solid $Blue2;
    border-top: 0.2rem solid transparent;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}