@import '../../../../styles/base/global';

.container {
    padding-top: 1.5rem;
    padding-bottom: 3rem;


    .button_cont1 {
        width: 9.063rem;
    }

    .button_cont2 {
        width: 4.375rem;
    }
}