// colors
$White: #ffffff;
$White1: #E1E2E6;
$White2: #B4B4B8;
$White2_5: #989A9E;
$White3: #7B818C;
$White4: #E1E2E5;
$White5: #C2C2C2;
$White6: #D6D6D6;
$White7: #D7D7D7;
$White8: #C3C3C7;
$White9: #c7c7c7;
$White11: #bfbfc2;
$White10: #E8E9ED;

$Grey: #A4A6AB;
$Blue1: #518CF0;
$Blue2: #376DC8;
$Blue3: #397BED;
$Organge: rgba(255, 190, 67, 0.8);
$IconGradient: linear-gradient(164.39deg, #4587F7 11.87%, #2769DA 95.44%);
$IconDarkBlue: #5A6580;
$ChipGrey: #2B3340;
$SlotBooked: #699C5A;
$ButtonGrey: #2E3336;
$Seperator: #272A2E;
$Pending: #B58157;
$Iconicbg: linear-gradient(180deg, #abb2bd 0, #8d9cb5 100%);
$SelectionGradient: linear-gradient(180deg, #41474D -38.1%, #191C1F 114.29%);
$ToggleBorder: #3C485E;
$Buttonborder: #143D83;
$Buttonborder2: #353738;
$TextGray: #b4b4b4;
$TextGray1: #c5c5c5;
$TextGray3: #999999;
$TextGray4: #7B818C;
$BgGray: #292727;
$Textshadow: #97a0b1;

$LinearBlue1: #2B69D6;
$LinearBlue2: #1C53B3;
$LinearBlue3: #5c95f9;


$BlueShadow: #4a7ad4;
$BlueShadow2: -webkit-linear-gradient(157.46deg, #7ba9ff 29.48%, #0c57e3 115.19%);
$OffWhite: #C8C9CC;
$ErrorText: #E54C65;

$Seperator: #272A2E;

$Modaloverlay: rgba(24, 26, 28, 0.75);

$Green: #69A359;


$yellow: #ffbe43;

$Background: #0C0C0D;
$Black: #000000;
$CardBackground: #191A1C;
$CardGradient: linear-gradient(135deg, #64244F 2.88%, #172368 100%);
$CapsuleGradient: linear-gradient(180deg,
        #232529 -8.93%,
        #232529 100%);
$BlueCardBackground: #0B182E;
$RoundButton: rgba(12, 12, 13, 0.7);
$ShimmerBase: #202226;


//cards
$Cardbg : linear-gradient(140.52deg, #2b2b2b -14.26%, #1c1c1c 100%);
$Reviewborder: linear-gradient(180deg, rgba(25, 26, 28, 0) .69%, rgba(25, 26, 28, .4) 18.51%, rgba(25, 26, 28, .849462) 55.33%, #191a1c 100%);
$Townbg: linear-gradient(180deg, #252525 0, #1f1f1f 77.6%, rgba(31, 31, 31, 0) 108.33%);
$Cardbg1: linear-gradient(180deg, #252525 0%, #1F1F1F 77.6%, rgba(31, 31, 31, 0) 108.33%);
$Playbuttonbg: linear-gradient(180deg, #3674e8 0, #1759d3 100%);
$LandingModlaBg:linear-gradient(180deg,#1e1f21 -8.93%,#191a1c);

$MessageBorder: #273349;
$MessageBackground: #151B26;
$CapsuleBackground: linear-gradient(180deg, #203A67 0%, #172847 100%);

