// New Fonts
$font-path: '/fonts/';


@font-face {
    font-family: 'Nexa-Bold';
    src: url($font-path + 'Nexa-Bold.otf') format("opentype");
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Nexa-Black';
    src: url($font-path + 'Nexa-Black.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Nexa-Book';
    src: url($font-path + 'Nexa-Book.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Nexa-ExtraBold';
    src: url($font-path + 'Nexa-ExtraBold.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Nexa-ExtraLight';
    src: url($font-path + 'Nexa-ExtraLight.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Nexa-Heavy';
    src: url($font-path + 'Nexa-Heavy.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Nexa-Light';
    src: url($font-path + 'Nexa-Light.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}


@font-face {
    font-family: 'Nexa-Regular';
    src: url($font-path + 'Nexa-Regular.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Nexa-TextBlack';
    src: url($font-path + 'Nexa-TextBlack.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Nexa-TextBold';
    src: url($font-path + 'Nexa-TextBold.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Nexa-TextBook';
    src: url($font-path + 'Nexa-TextBook.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Nexa-TextExtraBold';
    src: url($font-path + 'Nexa-TextExtraBold.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Nexa-TextExtraLight';
    src: url($font-path + 'Nexa-TextExtraLight.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Nexa-TextHeavy';
    src: url($font-path + 'Nexa-TextHeavy.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Nexa-TextLight';
    src: url($font-path + 'Nexa-TextLight.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}



@font-face {
    font-family: 'Nexa-TextRegular';
    src: url($font-path + 'Nexa-TextRegular.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Nexa-TextThin';
    src: url($font-path + 'Nexa-TextThin.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}

@font-face {
    font-family: 'Nexa-Thin';
    src: url($font-path + 'Nexa-Thin.otf') format("opentype");
    font-weight: "normal";
    font-style: "normal";
}